* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  margin-top: 15px;
  text-transform: lowercase;
}

.nav-link {
  color: rgb(79, 141, 79);
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
}

#contact-section {
  margin-top: 50px;
  align-content: center;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
}
p {
  color: rgb(94, 92, 92);
}
#profile-image {
  margin: 10px;
  width: 200px;
  height: auto;
}

.form-text {
  text-transform: lowercase;
}
hr {
  border: 3px solid rgb(175, 206, 175);
  width: 100%;
}

.footer-edits {
  color: beige;
}

.header-wrap {
  height: auto;
  width: 100%;
}

.header-wrap-2 {
  background-color: rgb(183, 202, 183);
}
