.welcome {
  text-align: center;
  background-color: transparent;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0;
}
.welcome-text {
  font-size: 50px;
}
.welcome-title {
  color: navy;
  font-weight: 700;
  text-decoration: none;
}
span {
  font-family: "Vast Shadow", cursive;
}
.welcome-title:hover {
  text-decoration: none;
}
.options {
  width: 75%;
}
.large-logo {
  width: 100px;
}
.logo-row {
  display: flex;
  justify-content: center;
}
.plane-image {
  display: flex;
  justify-content: center;
}
