.welcome {
  text-align: center;
  background-color: transparent;
  margin-top: 120px;
}
.welcome-text {
  font-size: 50px;
}
.welcome-title {
  color: navy;
  font-weight: 700;
  text-decoration: none;
}
.welcome-title:hover {
  text-decoration: none;
}
.seat-selections {
  width: 75%;
}
.large-logo {
  width: 100px;
}
.logo-row {
  display: flex;
  justify-content: center;
}
