.header-wrap {
  padding: 0;
  margin-top: 1em;
}
.header-width {
  width: 100%;
  padding: 0;
}
.header-plane {
  display: flex;
  justify-content: center;
}
.dropdown {
  background: transparent;
}
.dropdown-button {
  background-color: transparent;
  border: 1px solid black;
}
.menu-icon {
  width: 20px;
}
h1 {
  margin: 0;
  font-size: 70px;
  font-family: "Sacramento", cursive;
  color: rgb(86, 105, 86);
  padding-left: 50px;
  text-transform: capitalize;
}
