.porfolio-img {
  height: 179px;
  border: lightgrey 1px solid;
}
.card {
  border: none;
}

.title {
  text-align: center;
  margin: 0;
}

.github-button {
  display: flex;
  justify-content: center;
}
.github-text {
  font-size: 10px;
}

.technologies-text {
  font-style: italic;
  text-align: center;
  font-size: 15px;
}
