.porfolio-img {
  height: 179px;
  border: lightgrey 1px solid;
  border-radius: 10%;
}
.project-card {
  border: none;
  display: flex;
  justify-content: center;
}

.title {
  text-align: center;
  margin: 0;
}

.github-button {
  display: flex;
  justify-content: center;
}
.github-text {
  font-size: 10px;
}

.technologies-text {
  font-style: italic;
  text-align: center;
  font-size: 15px;
}

.projectcard-row {
  background: transparent;
}

/* @media screen and (min-width: 786px) {
} */

@media screen and (min-width: 400px) {
  .card-col {
    display: flex;
    justify-content: center;
  }
  .project-card {
    width: 80%;
  }
}
